definitions:
  handler.HealthResponse:
    properties:
      status:
        type: string
    type: object
  handler.VersionResponse:
    properties:
      buildTime:
        type: string
      commit:
        type: string
      env:
        type: string
      service:
        type: string
      version:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/health:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.HealthResponse'
      summary: Health check
      tags:
      - system
  /api/version:
    get:
      description: Returns backend build information
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.VersionResponse'
      summary: Get backend version
      tags:
      - system
swagger: "2.0"
